<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog articles(not fake)</title>
    <style>
        input {display: block;}
        textarea {display: block;}
    </style>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input style="font-size: large; font-family: Arial,serif" type="submit" value="Create Article">
</form>
<ul>
    {% for article in articles %}
    <li>
        <p style="font-size: large; font-family: Arial,serif"><b>Title:</b> {{article.title}}</p>
        <p style="font-size: large; font-family: Arial,serif"><b>Category:</b> {{article.category}}</p>
        <p style="font-size: large; font-family: Arial,serif"><b>Created by:</b> {{article.author}}</p>
        <p style="font-size: large; font-family: Arial,serif"><b>Posted at:</b> {{article.creation_date}}</p>
        <a style="font-size: large; font-family: Arial,serif" href="http://localhost:8080/blog/articles/{{ article.id }}">Read the article</a>

    </li>
    {% endfor %}
</ul>
</body>
</html>