<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breaking news!</title>
</head>
<body>
<h2 style="font-family: Arial,serif">{{ article.title }}</h2>
<p style="font-size: large; font-family: Arial,serif"><b>Category:</b> {{ article.category }}</p>
<p style="font-size: large; font-family: Arial,serif"><b>Written by:</b> {{ article.author }}</p>
<p style="font-size: large; font-family: Arial,serif"><b>Posted at:</b> {{ article.creation_date }}</p>
<br>
<p style="font-size: large; font-family: Arial,serif">{{ article.content }}</p>
</body>
</html>